In [4]:
import pandas as pd
import numpy as np

In [5]:
leap_cache = pd.read_csv("cc_test_ex.csv")
leap_cache

                                                       pa        label
0       35680020278 12186920859 35680020277 3568002027...  55988586432
1       55988586432 35680020278 12186920859 3568002027...  55988586439
2       55988586439 55988586432 35680020278 1218692085...  55988586444
3       55988586444 55988586439 55988586432 3568002027...  55988586445
4       55988586445 55988586444 55988586439 5598858643...  55988586452
...                                                   ...          ...
871610  20318900227 20318900226 35680020271 4614949094...  20318900228
871611  20318900228 20318900227 20318900226 3568002027...  20318900228
871612  20318900228 20318900227 20318900226 3568002027...  46149490944
871613  46149490944 20318900228 20318900227 2031890022...  20318900228
871614  20318900228 46149490944 20318900227 2031890022...  20318900228

[871615 rows x 2 columns]

In [8]:
type(leap_cache['pa'][0])

str

In [6]:
clstm_pred = pd.read_csv("result_ex_addr.csv")
clstm_pred

                                                     pred       target
0       ['35680020283', '35680020282', '35680020284', ...  55988586432
1       ['55988586434', '55988586436', '55988586435', ...  55988586439
2       ['55988586443', '55988586444', '55988586445', ...  55988586444
3       ['55988586449', '55988586450', '55988586448', ...  55988586445
4       ['55988586449', '55988586448', '55988586450', ...  55988586452
...                                                   ...          ...
871610  ['20318900236', '20318900235', '20318900234', ...  20318900228
871611  ['20318900236', '20318900237', '20318900235', ...  20318900228
871612  ['20318900236', '35680020275', '35680020278', ...  46149490944
871613  ['20318900236', '35680020275', '20318900237', ...  20318900228
871614  ['20318900236', '20318900235', '20318900237', ...  20318900228

[871615 rows x 2 columns]

In [10]:
from ast import literal_eval
def str_to_list(strlist):
    return literal_eval(strlist)

In [11]:
clstm_pred['pred'] = clstm_pred['pred'].apply(str_to_list)

In [12]:
clstm_pred

                                                     pred       target
0       [35680020283, 35680020282, 35680020284, 356800...  55988586432
1       [55988586434, 55988586436, 55988586435, 559885...  55988586439
2       [55988586443, 55988586444, 55988586445, 559885...  55988586444
3       [55988586449, 55988586450, 55988586448, 559885...  55988586445
4       [55988586449, 55988586448, 55988586450, 559885...  55988586452
...                                                   ...          ...
871610  [20318900236, 20318900235, 20318900234, 203189...  20318900228
871611  [20318900236, 20318900237, 20318900235, 203189...  20318900228
871612  [20318900236, 35680020275, 35680020278, 203189...  46149490944
871613  [20318900236, 35680020275, 20318900237, 356800...  20318900228
871614  [20318900236, 20318900235, 20318900237, 203189...  20318900228

[871615 rows x 2 columns]

In [22]:
def listsplit(ls_str):
    return ls_str.split(" ")

In [25]:
leap_cache['pa'] = leap_cache['pa'].apply(listsplit)

In [26]:
leap_cache

                                                       pa        label
0       [35680020278, 12186920859, 35680020277, 356800...  55988586432
1       [55988586432, 35680020278, 12186920859, 356800...  55988586439
2       [55988586439, 55988586432, 35680020278, 121869...  55988586444
3       [55988586444, 55988586439, 55988586432, 356800...  55988586445
4       [55988586445, 55988586444, 55988586439, 559885...  55988586452
...                                                   ...          ...
871610  [20318900227, 20318900226, 35680020271, 461494...  20318900228
871611  [20318900228, 20318900227, 20318900226, 356800...  20318900228
871612  [20318900228, 20318900227, 20318900226, 356800...  46149490944
871613  [46149490944, 20318900228, 20318900227, 203189...  20318900228
871614  [20318900228, 46149490944, 20318900227, 203189...  20318900228

[871615 rows x 2 columns]

In [27]:
clstm_pred

                                                     pred       target
0       [35680020283, 35680020282, 35680020284, 356800...  55988586432
1       [55988586434, 55988586436, 55988586435, 559885...  55988586439
2       [55988586443, 55988586444, 55988586445, 559885...  55988586444
3       [55988586449, 55988586450, 55988586448, 559885...  55988586445
4       [55988586449, 55988586448, 55988586450, 559885...  55988586452
...                                                   ...          ...
871610  [20318900236, 20318900235, 20318900234, 203189...  20318900228
871611  [20318900236, 20318900237, 20318900235, 203189...  20318900228
871612  [20318900236, 35680020275, 35680020278, 203189...  46149490944
871613  [20318900236, 35680020275, 20318900237, 356800...  20318900228
871614  [20318900236, 20318900235, 20318900237, 203189...  20318900228

[871615 rows x 2 columns]

In [40]:
overlap = 0
for num in clstm_pred['pred'][4][:10]:
    if num in leap_cache['pa'][4]:
        overlap+=1
        print(num)
        
print("clstm prefetch : ", len(clstm_pred['pred'][0][:10]) - overlap)

55988586448
55988586453
clstm prefetch :  8

In [43]:
type(clstm_pred['pred'][0][0])

str

In [44]:
a = int(clstm_pred['pred'][0][0])
print(a)

35680020283

In [45]:
clstm_pred['pred'][0][0]

'35680020283'

### Compare the number of prefetch data

In [19]:
# leap_f = open("../../samsung/sykim/prefetch_2024/deep_learning_data/cc/pf_data_num_leap.txt", "r")
leap_f =  open("../deep_learning_data/pf_data_num_leap.txt", "r")
leap_list = []
while True:
    line = leap_f.readline()
    if not line:
        break
    leap_list.append(int(line))

In [20]:
sum(leap_list) / len(leap_list)

0.696782

In [21]:
clstm_f = open("../deep_learning_data/pf_data_num_clstm.txt", "r")
# clstm_f = open("../../samsung/sykim/prefetch_2024/deep_learning_data/cc/pf_data_num_clstm.txt", "r")
clstm_list = []
while True:
    line = clstm_f.readline()
    if not line:
        break
    clstm_list.append(int(line))

In [22]:
sum(clstm_list) / len(clstm_list)

4.298425

In [23]:
max(clstm_list)

22

In [24]:
max(leap_list)

2

In [25]:
def normalize(data):
    min_val = min(data)
    max_val = max(data)
    normalized_data = [(x - min_val) / (max_val - min_val) for x in data]
    return normalized_data

In [6]:
'No Prefetcher': [0, 0],
'Leap': [0.299609, 0.696782],
'CLSTM': [2.017044, 4.298425]
[0, 0.299609, 0.696782, 2.017044, 4.298425, 22]

SyntaxError: illegal target for annotation (3102084527.py, line 1)

In [7]:
norm = normalize([0, 0.299609, 0.696782, 2.017044, 4.298425, 22])

In [9]:
norm

[0.0,
 0.01361859090909091,
 0.03167190909090909,
 0.09168381818181817,
 0.19538295454545454,
 1.0]

### Compare Used Ratio

In [26]:
clstm_pref = [x for x in clstm_list if x != 0]

In [27]:
len(clstm_pref)

629313

In [28]:
leap_pref = [x for x in leap_list if x != 0]

In [29]:
len(leap_pref)

604645

In [30]:
clstm_pf_hit = 273336
leap_pf_hit = 165635

In [31]:
useless_clstm = sum(clstm_pref) - clstm_pf_hit
useless_leap = sum(leap_pref) - leap_pf_hit

In [32]:
ratio_clstm = useless_clstm / sum(clstm_pref)
ratio_leap = useless_leap / sum(leap_pref)

In [33]:
ratio_leap

0.7622857651317054

In [34]:
ratio_clstm

0.9364101967581149