In [1]:
import pandas as pd
import numpy

/tmp/ipykernel_213558/2094786275.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
orig = pd.read_csv("cc_5m_all.csv")
orig

                                                        pa        label
0        55988586455 55988586453 20318900252 5598858645...  55988586455
1        55988586455 55988586453 20318900252 5598858645...  55988586455
2        55988586455 55988586453 20318900252 5598858645...  55988586455
3        55988586455 55988586453 20318900252 5598858645...  55988586455
4        55988586455 55988586453 20318900252 5598858645...  55988586456
...                                                    ...          ...
4999731  25931118959 54204048566 54204048555 5420404853...  54204048568
4999732  54204048568 25931118959 54204048566 5420404855...   1088545547
4999733  1088545547 54204048568 25931118959 54204048566...   1088545552
4999734  1088545552 1088545547 54204048568 25931118959 ...   1088545552
4999735  1088545552 1088545547 54204048568 25931118959 ...   1088545572

[4999736 rows x 2 columns]

In [4]:
testex = orig[-3:]
testex

                                                        pa       label
4999733  1088545547 54204048568 25931118959 54204048566...  1088545552
4999734  1088545552 1088545547 54204048568 25931118959 ...  1088545552
4999735  1088545552 1088545547 54204048568 25931118959 ...  1088545572

In [5]:
test = orig[-2000000:]

In [6]:
test.to_csv("cc_2m_test.csv", index=False)